@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  background-color: white;
  margin: 0 100px;
}

html, body {
  padding: 0;
}

header {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
header img {
  width: 270px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  padding: 5px 20px 5px 4px;
  border-radius: 5px;
}
.search-input .__search {
  background-color: transparent;
  border: none;
  padding: 20px;
  width: 90%;
}
.search-input .__search[type=search] {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: black;
}
.search-input .__search::placeholder {
  opacity: 0.5;
}
.search-input .__search:focus {
  outline: none;
}
.search-input .__searchBtn {
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
}
.search-input .__searchBtn img {
  width: 40px;
  padding-top: 5px;
}

.section-tags {
  margin-top: 3%;
}
.section-tags .input-tags {
  margin-top: 5px;
  display: flex;
}
.section-tags .tags_m {
  margin-right: 20px;
}

.tag {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
}
.tag .__text {
  background-color: transparent;
  border: none;
}
.tag .__text[type=text] {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  outline: none;
}
.tag .__text::placeholder {
  color: white;
}

.input-ingredient,
.ingredients-list {
  background-color: #3282f7;
}

.input-device,
.devices-list {
  background-color: #68d9a4;
}

.input-ustensil,
.ustensils-list {
  background-color: #ed6454;
}

.none {
  display: none;
}

.button-up {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: auto;
}

.ingredients-list,
.devices-list,
.ustensils-list {
  width: 550px;
  border-radius: 0 0 5px 5px;
}
.ingredients-list .tag-list,
.devices-list .tag-list,
.ustensils-list .tag-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 220px;
  max-width: 700px;
  padding: 0 10px;
  margin-top: -4px;
  overflow: auto;
  list-style: none;
  color: white;
  line-height: 30px;
}
.ingredients-list .tag-list li,
.devices-list .tag-list li,
.ustensils-list .tag-list li {
  width: 130px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  cursor: pointer;
}
.ingredients-list .tag-list li:hover,
.devices-list .tag-list li:hover,
.ustensils-list .tag-list li:hover {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.2);
}

.full-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.full-container .error-message {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 200px;
}

.container {
  width: 450px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.container .food {
  height: 178px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.container .bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
  gap: 5px 5px;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
}
.container .bottom-grid .card {
  height: 109px;
  text-align: left;
  overflow: hidden;
}
.container .bottom-grid .card p {
  padding: 3px;
  margin: 0;
}
.container .bottom-grid .card .ingredient-list {
  white-space: normal;
}
.container .bottom-grid .small {
  height: 25px;
  margin: 0;
  padding: 0;
}
.container .bottom-grid .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
}
.container .bottom-grid .right .clock {
  width: 24px;
  height: 24px;
  margin-right: 2px;
  margin-top: 1px;
}

/*# sourceMappingURL=style.css.map */
