@use "../base/" as b;

.full-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  @include b.normalLato($size: 12px);
  .error-message {
    @include b.normalLato($size: 25px);
    margin-top: 200px;
  }
}

.container {
  width: 450px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  .food {
    height: 178px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  .bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    gap: 5px 5px;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: b.$colorInput;
    border-radius: 0 0 5px 5px;
    .card {
      height: 109px;
      text-align: left;
      overflow: hidden;
      p {
        padding: 3px;
        margin: 0;
      }
      .ingredient-list {
        white-space: normal;
      }
    }
    .small {
      height: 25px;
      margin: 0;
      padding: 0;
    }
    .right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-weight: bold;
      .clock {
        width: 24px;
        height: 24px;
        margin-right: 2px;
        margin-top: 1px;
      }
    }
  }
}
