@use "../base/" as b;

.tags {
    .input-tags {
        margin-top: 10px;
        display: flex;
        .eachTags {
            margin-right: 20px;
            width: 180px;
        }
    }
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px 15px;
    // label {
    //     display: none;
    // }
    .__text {
        background-color: transparent;
        border: none;
        text-align: left;
        width: 100px;
        @include b.normalLato;
        color: black;
        &::placeholder {
            color: white;
        }
        &:focus {
            outline: none;
        }
    }
}

.input-ingredient {
    background-color: b.$ingredients;
}
.input-device {
    background-color: b.$devices;
}
.input-ustensil {
    background-color: b.$ustensils;
}

.button-up {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}